/* ***********************************************************
## VARIABLES
*********************************************************** */




/* ***********************************************************
## COLORS
*********************************************************** */

$white: rgba(255, 255, 255, 1.0);
$offWhite: rgba(243, 242, 243, 1.0);
$black: rgba(0, 0, 0, 1.0);
$grey: rgba(216, 216, 216, 1.0);
$red: rgba(168, 57, 53, 1.0);
$active: rgba(240, 85, 62, 1);
$bodyColor: rgba(74, 74, 74, 1.0);
