/* ***********************************************************
## FONTS
*********************************************************** */

$itim: 'Itim', cursive;
$rubik: 'Rubik', sans-serif;

//font-weights

$ir: 400; //regular
$rr: 400; //regular
$rb: 700; //bold
