/* ***********************************************************
## MIXINS
*********************************************************** */
@import "mixins/trent_mixins";


/* ***********************************************************
## VARIABLES
*********************************************************** */
@import "mixins/variables";


/* ***********************************************************
## FONTS
*********************************************************** */
@import "mixins/fonts";


/* ***********************************************************
## CSS reset
*********************************************************** */
@import "mixins/normalize";

h1, h2 {
  margin:0;
  padding:0;
}

button {
  outline:none;

}

/*
 * Clearfix
 */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; } /* fix for IE */

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;

}

/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;

}

body {
	font:300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color:$bodyColor;
    line-height:1;
}

/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}

.clear {
    *zoom:1;
}

img {
	max-width:100%;
	vertical-align:bottom;
}

a {
	color:#444;
	text-decoration:none;
}

a:hover {
	color:#444;
}

a:focus {
	outline:0;
}

a:hover,
a:active {
	outline:0;
}

input:focus {
	outline:0;
	border:1px solid #04A4CC;
}








.bodybg {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.bodybg img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  z-index:0;
}

.mc__wrapper {
  position:relative;
  z-index:999999;
  max-width:555px;
  width:100%;
  margin:0 auto;
  @include centerer();
}


section {
  width:100%;
  position:relative;
  z-index:100;
  @include roundCorners();
  height:auto;
  margin-bottom:12px;
  padding-bottom:30px;
    & h1 {
      color:$red;
      font-size:2.1rem;
      line-height:2.1em;
      text-align:center;
      font-family: $rubik;
      font-weight:$rr;
      letter-spacing: 0.2px;
      padding-top:22px;
    }
    & h2 {
      color:$bodyColor;
      text-transform:uppercase;
      font-family: $rubik;
      font-weight:$rr;
      font-size: 4.5rem;
      text-align:center;
      letter-spacing: 7.87px;

    }
    & p {
      color:$black;
      font-family:$rubik;
      font-weight:$rr;
      font-size:1.6rem;
      line-height:1.6em;
      max-width:91.17%;
      width:100%;
      margin:0 auto;
    }
    & button {
      background:$red;
      color:$white;
      font-family:$itim;
      font-weight:$ir;
      font-size:1.8rem;
      text-align:center;
      line-height:1.9em;
      padding:0 15px;
      display:block;
      margin:29px auto 0 auto;
      border:none;
    }
    &:nth-of-type(2){
      margin-bottom:15px;
      & p {

        &:nth-child(1){
          padding:29px 0 14px 0;
        }

        &:nth-child(3) {
          color:$red;
          font-family:$itim;
          font-weight:$ir;
          font-size:2.4rem;
          line-height:2.4em;

        }
      }
    }
    &:last-of-type {
      margin-bottom:15px;
      & p {
        font-size:1.7rem;
        padding-top:30px;
        & span {
          font-weight:$rb;
        }
      }

    }
}


form {
  width:100%;
  position:relative;
  z-index:100;
  display:none;
    & div {
      max-width:91.17%;
      width:100%;
      margin:0 auto;
      & button {
        background:$red;
        color:$white;
        font-family:$itim;
        font-weight:$ir;
        font-size:1.8rem;
        text-align:center;
        line-height:1.9em;
        width:auto;
        display:block;


        border:none;
        margin:14px 0
      }
    }
}

button:hover, button:focus {
  opacity: 0.75;
  cursor: pointer;
}

button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

input {
  width: 100%;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
}

textarea {
  width: 100%;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid rgba(216, 216, 216, 1.0);
  background: inherit;
  resize:vertical;
}

label.mc__dropdown select {
	padding: 10px 42px 10px 10px;
	background: inherit;
  font-family: $itim;
  font-weight:$ir;
  font-size: 1.8rem;
  color: $bodyColor;
	border: 1px solid rgba(216, 216, 216, 1.0);
	border-radius: 0;
	display: inline-block;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	cursor: pointer;
	outline: none;
  margin:20px 0;
}
label.mc__dropdown select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #444;
}
label.mc__dropdown select::-ms-expand {
	display: none;
}
label.mc__dropdown:before {
	content: '';
	right: 5px;
	top: -7px;
	width: 30px;
	height: 33px;
	background: inherit;
	position: absolute;
	pointer-events: none;
	display: block;
}
label.mc__dropdown { position: relative; }
label.mc__dropdown:after {
	content: '>';

  font-family: $itim;
  font-weight:$ir;
  font-size: 1.8rem;
  color: $bodyColor;
  letter-spacing: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	right: 2px;
	top: -7px;
	position: absolute;
	pointer-events: none;
	width: 35px;
	padding: 0 0 5px 0;
	text-indent: 14px;
}
@media screen\0 {
	label.mc__dropdown:after {
		width: 38px;
		text-indent: 15px;
    right: 0;
	}
}
@media screen and (min--moz-device-pixel-ratio:0) {
	label.mc__dropdown select { padding-right: 40px; }
	label.mc__dropdown:before { right: 6px; }
	label.mc__dropdown:after {
		text-indent: 14px;
		right: 6px;
		top: -7px;
		width: 36px;
	}
}

#form-messages {
  @include centerer();
  z-index:1000;
  max-width:71%;
  width:100%;
  font-size:1.6rem;
  line-height:2em;
  font-family:$rubik;
  font-weight:$rr;
  z-index:1000;
  max-width:71%;
  width:100%;
  padding-top:40px;

}

.success {
  @include successCorners();
  padding: 1em;
  margin-bottom: 0.75rem;
  color: $black;
  &:before {
    color: #535253;
    content: "x";
    opacity: 1;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    vertical-align: middle;
    z-index: 1;
    cursor:pointer;
    border: 1px solid rgba(29, 16, 15, 1.0);
    border-radius: 14px;
    background: rgba(216, 216, 216, 1.0);
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    line-height: 14px;
    padding: 1px 4px;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height:14px;
    border-radius: 20px;




  }

}

.error {
  @include errorCorners();
  padding: 1em;
  margin-bottom: 0.75rem;
  color: $white;
  &:before {
    color: #535253;
    content: "x";
    opacity: 1;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    vertical-align: middle;
    z-index: 1;
    cursor:pointer;
    border: 1px solid rgba(29, 16, 15, 1.0);
    border-radius: 14px;
    background: rgba(216, 216, 216, 1.0);
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    line-height: 14px;
    padding: 1px 4px;
    text-align: center;
    width: 20px;
    height: 20px;
    line-height:14px;
    border-radius: 20px;
  }
}

.mc__red {
  color:$red;
}

.antispam { display:none;}

/* ***********************************************************
## MIXINS
*********************************************************** */
@import "mixins/responsive";
